/* IMPORTING */
@font-face {
    font-family: Raleway;
    src: url("../../Fonts/Raleway-VariableFont_wght.ttf");
}

/* END IMPORTING */



/* Loại bỏ margin - padding global */
* {
    margin: 0px;
    padding: 0px;
}


/* global font */
* {
    font-family: Raleway;
}



/* NAVIGATION BAR */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1.5px solid rgb(97, 94, 94);
    background: linear-gradient(to right, rgb(29, 96, 42), rgb(39, 154, 83));
    z-index: 999;
}



header div.logo {
    justify-self: flex-start;
}


header div.logo img {
    width: auto;
    height: 2.9rem;
    /* margin-left: 3rem; */
}

header div.logo img.logo1 {
    display: block;
    padding-left: 10px;
    margin: 20px;
}

header div.logo img.logo2 {
    display: none;
}


header div.links nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


header div.links nav a {
    margin: 0;
    padding: 0 1rem;

    cursor: pointer;

    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}


header div.links nav a:hover {
    color: #b8e994;
}


header div.bar {
    display: none;
    margin-right: 1rem;

    color: aliceblue;
    text-align: right;
}


header #overlay {
    display: none;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 9999;
}


header #sidebar {
    display: flex;
    justify-content: flex-end;
    float: right;

    position: fixed;

    top: 0;
    right: -20%;
    width: 20%;
    height: 100%;
    border: none;
    overflow: hidden;

    background: linear-gradient(to top, rgb(37, 79, 46), rgb(53, 189, 105));

    transition: right 0.3s ease-in-out;
    z-index: 10000;

}


header #sidebar.open {
    right: 0;
}


header #sidebar div.sidebar-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.5rem;
    width: 100%;
}


header #sidebar div.sidebar-content a {
    text-align: right;
    text-decoration: none;
    font-size: 1.2rem;

    color: aliceblue;
    margin-top: 1.5rem;

    margin-right: 0;
}


header #sidebar div.sidebar-content a:hover {
    color: #b8e994;
}


header #sidebar div.sidebar-content i {
    font-size: smaller;
}

/* END NAVIGATION BAR */



/* BEGIN BODY STYLE */

.body {
    background-color: white;
    position: relative;
    top: 10px;
    padding: 40px 50px 50px 50px;
    font-family: Raleway;
}

.body nav hr {
    position: absolute;
    top: 70px;
    left: 60px;
    width: 100px;
    margin: 0;
    border: 1px solid black;
}

.body nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    color: black;
}

.body nav .event {
    color: gray;
}



.body .post {
    border-radius: 10px;
    margin-top: 15px;
    width: 67%;
    height: 1100px;
    background-color: rgba(239, 239, 239, 0.40);
    display: flex;
}

.body .publish {
    margin-top: 15px;
    left: 1320px;
    height: 180px;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(239, 239, 239, 0.40);
    width: 28%;
    top: 70px;
}

.body .member {
    left: 1320px;
    height: 450px;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(239, 239, 239, 0.40);
    width: 28%;
    top: 300px;
}

.body .online {
    left: 1320px;
    height: 380px;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(239, 239, 239, 0.40);
    width: 28%;
    top: 790px;
}

.body .post .avatar {
    margin: 40px;
}

.body .post .name {
    font-size: 23px;
    font-weight: bold;
    display: flex;
    margin-top: 40px;
}

.body .post .avatar-name {
    position: absolute;
    top: 140px;
    left: 115px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.body .post .title {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.body .post .content {
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    padding-right: 150px;
}

.body .post .photo-1 {
    border-radius: 10px;
    width: 83%;
    height: 500px;
}

.body .post .container-post-1 {
    padding-left: 10px;
    position: relative;
    top: 0;
    width: 90%;
    height: 100%;
    display: inline-block;
}

.body .post .container-avatar {
    width: 10%;
    height: 100%;
    display: inline-block;
}

.body .post .container-post-1 .post-like-comment {
    margin-top: 20px;
    height: 36px;
    display: flex;

}

.body .post .container-post-1 .post-like-comment p {
    font-family: Segoe UI;
    font-weight: bold;
    color: gray;
    margin-left: 8px;
    font-size: 18px;
}

.body .post .container-post-1 .comment {
    padding: 10px 20px;
    display: inline-flex;
    width: 85%;
}

.body .post .container-post-1 .comment .comment-content .comment-name {
    font-size: 19px;
    font-weight: bold;
    display: flex;
    padding-left: 10px;
}

.avatar-comment {
    width: 50px;
}

.comment-content {
    display: inline;
    width: 90%;
}

.comment-box {
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 50px;
    width: 77%;
    margin-left: 15px;
}

.post-comment {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.avt-name {
    color: white;
    position: absolute;
    top: 838px;
    font-weight: bold;
    left: 48px;
    font-size: 20px;
}

.publish {
    padding: 30px;
}

.publish .title {
    font-size: 25px;
    font-weight: bold;

}

.publish .post-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #3E8E22;
    color: white;
    font-size: 23px;
    font-weight: 500;
}

.post-form {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.post-form-content {
    width: 40%;
    height: 550px;
    background-color: white;
    border-radius: 10px;
}

.post-form-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-form-content h2 {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#post-close {
    display: block;
    position: absolute;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    top: 22%;
    left: 1240px;
    font-size: 18px;
}

.post-form-content .input-title {
    width: 90%;
    border: none;
    font-weight: bold;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}

.post-form-content .input-content {
    padding: 10px;
    width: 90%;
    border: none;
    font-weight: bold;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    height: 300px;
    padding-left: 10px;
}

.post-form-content .form-button {
    border: none;
    border-radius: 10px;
    margin: 20px;
    width: 90%;
    height: 50px;
    background-color: #3E8E22;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.member {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.member .title {
    font-size: 25px;
    font-weight: bold;
}

.member .member-infor {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
}

.member .member-infor .name-infor .name {
    font-size: 19px;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
}

.online {
    padding: 30px;
}

.online .title {
    font-size: 25px;
    font-weight: bold;
}

.online .member-infor {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
}

.online .member-infor .name-infor .name {
    font-size: 19px;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
}

/* END BODY STYLE */



/* FOOTER */
footer {
    margin-top: 10px;
}

footer div.up {
    display: flex;
    justify-content: space-around;
    gap: 1.2rem;
    width: 100%;

    background-color: white;

}


footer div.up h2 {
    font-weight: bold;
    color: #2B6200;
}


footer div.up #about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;
    padding-left: 3rem;
    padding-right: 3rem;
}


footer div.up #quickLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 25%;
    padding-left: 3rem;
    padding-right: 3rem;
}


footer div.up #quickLinks a {
    text-decoration: none;
    color: black;
}


footer div.up #contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 25%;
    padding-left: 3rem;
    padding-right: 3rem;
}


footer div.mid {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    width: 100%;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: white;
}


footer div.mid a img {
    width: 30px;
    height: 30px;
}


footer div.bot {
    display: flex;
    justify-content: flex-start;

    padding-left: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;

    background: linear-gradient(to right, rgb(29, 96, 42), rgb(39, 154, 83));
}


footer div.bot img {
    width: auto;
    height: 2.9rem;
}


footer div.bot img.logo1 {
    display: block;
}


footer div.bot img.logo2 {
    display: none;
}


/* END FOOTER */













/* RESPONSIVE DESIGN */
@media (max-width: 1380px) {
    header div.links nav a {
        display: none;
    }

    header div.bar {
        display: block;
    }

    header #sidebar {
        right: -30%;
        width: 30%;
    }
}


@media (max-width: 950px) {
    footer div.up {
        flex-direction: column;
    }

    footer div.up #about {
        width: 100%;
    }

    footer div.up #quickLinks {
        width: 100%;
    }

    footer div.up #contacts {
        width: 100%;
    }
}


@media (max-width: 630px) {
    header {
        height: 3.5rem;
    }

    header div.logo img.logo1 {
        display: none;
    }

    header div.logo img.logo2 {
        display: block;
    }

    header div.logo img {
        width: auto;
        height: 3.5rem;
        margin-left: 14rem;
    }

    header #sidebar {
        right: -50%;
        width: 50%;
    }

    footer div.bot {
        justify-content: center;
        padding-left: 0rem;
    }

    footer div.bot img {
        height: 3.5rem;
    }

    footer div.bot img.logo1 {
        display: none;
    }

    footer div.bot img.logo2 {
        display: block;
    }
}


@media (max-width: 560px) {
    header div.logo img {
        margin-left: 8rem;
    }

    header #sidebar {
        right: -60%;
        width: 60%;
    }
}


@media (max-width: 320px) {
    header div.logo img {
        margin-left: 5rem;
    }
}

/* END RESPONSIVE DESIGN */