/* IMPORTING */
@font-face {
    font-family: Raleway;
    src: url("../../Fonts/Raleway-VariableFont_wght.ttf");
}

/* END IMPORTING */

/*BASE*/
* {
    box-sizing: border-box;
}

:root {
    --color-bg: #05390C;
    --color-green: #00FF0A;
    --color-text: #000000;
    --color-desc: #868686;
  }

body {
    color: var(--color-text);
}

.container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

/*BASE*/

/* Loại bỏ margin - padding global */
* {
    margin: 0px;
    padding: 0px;
}


/* global font */
* {
    font-family: Raleway;
}



/* NAVIGATION BAR */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1.5px solid rgb(97, 94, 94);
    background: linear-gradient(to right, rgb(29, 96, 42), rgb(39, 154, 83));
    z-index: 999;
}


header div.logo img {
    width: auto;
    height: 2.9rem;
    /* margin-left: 3rem; */
}

header div.logo img.logo1 {
    display: block;
    padding-left: 10px;
    margin: 20px;
}

header div.logo img.logo2 {
    display: none;
}


header div.links nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


header div.links nav a {
    margin: 0; 
    padding: 0 1rem; 

    cursor: pointer; 

    text-decoration: none;
    color: white; 
    font-size: 16px;
    font-weight: 600;
}


header div.links nav a:hover {
    color: #b8e994;
}


header div.bar {
    display: none;
    margin-right: 1rem;

    color: aliceblue;
    text-align: right;
}


header #overlay {
    display: none;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    
    z-index: 9999;
}


header #sidebar {
    display: flex;
    justify-content: flex-end; 
    float: right;

    position: fixed;

    top: 0;
    right: -20%;
    width: 20%;
    height: 100%;
    border: none;
    overflow: hidden;

    background: linear-gradient(to top, rgb(37, 79, 46), rgb(53, 189, 105));

    transition: right 0.3s ease-in-out;
    z-index: 10000;

}


header #sidebar.open {
    right: 0;
}


header #sidebar div.sidebar-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.5rem; 
    width: 100%;
}


header #sidebar div.sidebar-content a {
    text-align: right; 
    text-decoration: none;
    font-size: 1.2rem;

    color: aliceblue;
    margin-top: 1.5rem;

    margin-right: 0; 
}


header #sidebar div.sidebar-content a:hover {
    color: #b8e994;
}


header #sidebar div.sidebar-content i {
    font-size: smaller;
}

/* END NAVIGATION BAR */

/* SECTION-ONE */
.section-one {
    background-image: linear-gradient(to bottom, #05390C, #E5FFEB);
    padding-top: 80px;
    padding-bottom: 80px;
}

.map {
    width: 90%;
    position: relative;
    border-radius: 20px;
    max-width: 100%;
    overflow: hidden;
    height: 650px;
    object-fit: cover;
    background-color: #b9cfbe ;
}

.map img {
    width: 100%;
    height: 100%;
}

.right {
    height: 650px;
}

.right .search {
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.right .search .inner-search {
    background-color: #B9CFBE;
    height: 100%;
    width: 70%;
    border-radius: 40px;
    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    font-weight: 700;
}

.right .search #province {
    background-color: #B9CFBE;
    height: 100%;
    width: 28%;
    border-radius: 40px;
    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    font-weight: 700;
}

.right .content {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    height: 450px;
    background-color: white;
}

.right .content img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.right .content .inner-content {
    width: 60%;
    padding: 15px;
}

.right .content .inner-content .inner-title {
    width: 100%;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.right .content .inner-content .inner-title .inner-text {
    display: inline-block;
}

.right .content .inner-content .inner-title .inner-line {
    flex-grow: 1;
    position: relative;
    height: 7px;
    background-color: #000000;
    line-height: 100%;
    margin-left: 10px;
}

.right .content .inner-content .part {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.right .content .inner-content .part .inner-content {
    padding: 0;
    width: 80%;
}

.right .content .inner-content .part .inner-content .inner-title{
    font-size: 28px;
    margin-bottom: 5px;
}

.right .content .inner-content .part .inner-content .inner-button {
    font-size: 16px;
    font-weight: 800;
    color: var(--color-desc);
    background-color: #98FECD;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.right .content .inner-content .part .inner-count {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-right: 30px;
}

.right .content .inner-content .part .red {
    color: #880707;
}

.right .content .inner-content .part .green {
    color: #087417;
}

.right .content .inner-content .part .yellow {
    color: #c9d705;
}

/* END SECTION-ONE */

/* SECTION-TWO */
.section-two {
    background-color: var(--color-bg);
    padding-top: 30px;
    padding-bottom: 80px
}

.section-two .title {
    display: flex;
    justify-content: left;
    color: white;
    margin-bottom: 30px;
    align-items: center;
}

.section-two .title .inner-title {
    font-size: 36px;
    font-weight: 800;
}

.section-two .title .inner-line {
    position: relative;
    height: 7px;
    width: 100px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(52, 252, 2));
    line-height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: #000000; */
}

.section-two .title .inner-province {
    font-size: 36px;
    font-weight: 800;
    color: #00FF0A;
}

.section-two .item {
    /* width: 95%; */
    background-color: white;
    height: 550px;
    border-radius: 0px 45px 0px 45px;
    position: relative;
    margin-left: 15px;
}

.row.autoplay .item {
    margin-left: 20px;
}

.section-two .item img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-top-right-radius: 45px;
}

.section-two .item .content {
    padding: 20px;
}

.section-two .item .content p {
    font-size: 22px;
    font-weight: 500;
}

.section-two .item .content p i {
    width: 30px;
}

.section-two .item .content p .time {
    font-family: Arial, Helvetica, sans-serif;
}

.section-two .item .content p .count{
    font-weight: 700;
    color: #00FF0A;
    font-size: 26px;
}

.section-two .item button {
    margin: auto;
    display: block;
    background-color: var(--color-green);
    border: 2px solid #069e0b8a;
    padding: 5px 15px 5px 15px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 800;
    color: #565555;
    margin-top: -15px;
}

.section-two .item .title {
    position: absolute;
    top: 20px;
    left: -10px;
    background-color: var(--color-green);
    display: inline-block;
    padding: 5px 20px 5px 20px;
    width: 60%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 22px;
    font-weight: 800;
    border: 3px solid #1fd225
}

/* END SECTION-TWO */









































/* Code CSS ở đây */






































/* FOOTER */
footer div.up {
    display: flex;
    justify-content: space-around;
    gap: 1.2rem;
    width: 100%;

    background-color: white;

}


footer div.up h2 {
    font-weight: bold;
    color: #2B6200;
}


footer div.up #about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;
    padding-left: 3rem;
    padding-right: 3rem;
}


footer div.up #quickLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 25%;
    padding-left: 3rem;
    padding-right: 3rem;
}


footer div.up #quickLinks a {
    text-decoration: none;
    color: black;
}


footer div.up #contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 25%;
    padding-left: 3rem;
    padding-right: 3rem;
}


footer div.mid {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    width: 100%;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: white;
}


footer div.mid a img {
    width: 30px;
    height: 30px;
}


footer div.bot {
    display: flex;
    justify-content: flex-start;

    padding-left: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;

    background: linear-gradient(to right, rgb(29, 96, 42), rgb(39, 154, 83));
}


footer div.bot img {
    width: auto;
    height: 2.9rem;
}


footer div.bot img.logo1 {
    display: block;
}


footer div.bot img.logo2 {
    display: none;
}


/* END FOOTER */













/* RESPONSIVE DESIGN */
@media (max-width: 1380px) {
    header div.links nav a {
        display: none;
    }

    header div.bar  {
        display: block;
    }

    header #sidebar {
        right: -30%;
        width: 30%;
    }
}


@media (max-width: 950px) {
    footer div.up {
        flex-direction: column;
    }

    footer div.up #about {
        width: 100%;
    }

    footer div.up #quickLinks {
        width: 100%;
    }

    footer div.up #contacts {
        width: 100%;
    }
}


@media (max-width: 630px) {
    header {
        height: 3.5rem;
    }

    header div.logo img.logo1 {
        display: none;
    }

    header div.logo img.logo2 {
        display: block;
    }

    header div.logo img {
        width: auto;
        height: 3.5rem;
        margin-left: 14rem;
    }

    header #sidebar {
        right: -50%;
        width: 50%;
    }

    footer div.bot {
        justify-content: center;
        padding-left: 0rem;
    }

    footer div.bot img {
        height: 3.5rem;
    }

    footer div.bot img.logo1 {
        display: none;
    }

    footer div.bot img.logo2 {
        display: block;
    }
}


@media (max-width: 560px) {
    header div.logo img {
        margin-left: 8rem;
    }

    header #sidebar {
        right: -60%;
        width: 60%;
    }
}


@media (max-width: 320px) {
    header div.logo img {
        margin-left: 5rem;
    }
}

/* END RESPONSIVE DESIGN */