html,body {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 3rem;
    background: linear-gradient(to right, rgb(29, 96, 42), rgb(39, 154, 83));
    border-bottom: 1.5px solid rgb(97, 94, 94);
    display: flex;
    align-items: center; 
    position: fixed;
}
.header img {
    width: auto;
    height: 2.9rem;
    margin-left: 3rem;
}.logo1 {
    display: block;
}.logo2 {
    display: none;
}

.information {
    display: flex;
    width: 100%; 
    justify-content: space-around;
    margin-left: 4rem;
}

.information p {
    margin: 0; 
    padding: 0 1rem; 
    color: white; 
    cursor: pointer; 
    font-size: small;
}
.bar {
    display: none;
    text-align: right;
    margin-right: 1rem;
    color: aliceblue;
}

.header-1 {
    height: 3rem;
} 
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -20%;
    width: 20%;
    height: 100%;
    transition: right 0.3s ease-in-out;
    z-index: 10000;
    display: flex;
    justify-content: flex-end; 
    border: none;
    overflow: hidden;
    background: linear-gradient(to top, rgb(37, 79, 46), rgb(53, 189, 105));
    float: right;
}

#sidebar.open {
    right: 0;
}

.sidebar-content {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.5rem; 
    width: 100%;
}

.sidebar-content p {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: aliceblue;
    text-align: right; 
    margin-right: 0; 
}.sidebar-content i {
    font-size: smaller;
}
@media (max-width: 1380px) {
    .information p {
        display: none;
    }
    .bar {
        display: block;
    }   #sidebar {
        right: -30%;
        width: 30%;
    }
}
@media (max-width: 630px) {
    .logo1 {
        display: none;
    }.logo2 {
        display: block;
    }    .header img {
        width: auto;
        height: 3.5rem;
        margin-left: 14rem;
    }.header {
        height:3.5rem ;
    }  #sidebar {
        right: -50%;
        width: 50%;
    }
}@media (max-width: 560px) {
    .header img {
        margin-left: 8rem;
    } #sidebar {
        right: -60%;
        width: 60%;
    }
}
@media (max-width: 320px) {
    .header img {
        margin-left: 5rem;
    }
}